@import '../../styles/index.scss'; //Some common classes and styles
.up {
	transform: rotate(-180deg);
	transition: 0.3s;
}
.down {
	transition: 0.3s;
}
.closeOptions {
	@extend .fixed;
	@extend .flex;
	@extend .align-center;
	@extend .justify-between;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: transparent;
	z-index: 1600;
}

// default dropDown style

.default-dropDown {
	@extend .flex;
	@extend .align-center;
	@extend .justify-between;

	height: 2.4rem;
	border: 1px solid #808080;

	&:hover {
		color: #ffffff;
		filter: brightness(1.5);
	}

	.selectInput {
		@extend .flex-row;

		@extend .text-h4;
		@extend .bg-transparent;
		@extend .color-white;
		@extend .br-100;
		@extend .w-100;
		align-items: center;
		justify-content: flex-start;
		color: rgba(255, 255, 255, 0.7);
		height: 2.8rem;
		border: none;
		&:hover {
			filter: brightness(1.5);
		}
	}

	.arrowUp {
		@extend .up;
	}
	.arrowDown {
		@extend .down;
	}
}

.dropDown {
	overflow-y: scroll;
	border: 1px solid #666666;
	z-index: 1700;
	&::-webkit-scrollbar {
		display: none;
	}
	.options {
		background: #323232 !important;
		height: 2.4rem;
		outline: none;
		border: none;

		color: #ffffff;
		&:hover {
			background: #565656 !important;
		}

		&:active {
			background: #565656 !important;
		}

		&:focus {
			background: #565656 !important;
		}
	}
}

//icons dropDown

.icons-dropDown {
	@extend .flex;
	@extend .align-center;
	@extend .justify-between;

	.arrowUp {
		@extend .up;
	}
	.arrowDown {
		@extend .down;
	}
}

.dropDownIcons {
	z-index: 1700;
	color: #ffffff;
	top: 2.5rem;
	min-width: 110px;
	background-color: #282828;

	.activeOption {
	}

	.optionsIcons:hover {
		background-color: #343333 !important;
	}

	.optionsIcons:active {
		background-color: #343333 !important;
	}

	.optionsIcons:focus {
		background-color: #343333 !important;
	}
}
