@import './../../styles/index.scss';

.div-box {
	@extend .flex;
	@extend .align-center;
	@extend .justify-between;

	height: 2.4rem;
	border: 1px solid #808080;

	&:hover {
		color: #ffffff;
		filter: brightness(1.5);
	}

	.selectInput {
		@extend .text-h4;
		@extend .bg-transparent;
		@extend .color-white;
		@extend .br-100;
		@extend .w-100;
		color: rgba(255, 255, 255, 0.7);
		height: 2.8rem;
		border: none;
		&:hover {
			filter: brightness(1.5);
		}
	}

	.arrowUp {
		transform: rotate(-180deg);
		transition: 0.3s;
	}
	.arrowDown {
		transition: 0.3s;
	}
}

.closeOptions {
	@extend .fixed;
	@extend .flex;
	@extend .align-center;
	@extend .justify-between;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: transparent;
	z-index: 1;
}

.dropDown {
	overflow-y: scroll;

	border: 1px solid #666666;
	z-index: 2;
	&::-webkit-scrollbar {
		display: none;
	}
	.options {
		background: #323232 !important;
		height: 2.4rem;
		outline: none;
		border: none;
		@extend .justify-center;
		color: #ffffff;
		&:hover {
			background: #565656 !important;
		}

		&:active {
			background: #565656 !important;
		}

		&:focus {
			background: #565656 !important;
		}
	}
}
