@import '../../styles/index.scss';

.selector-field-container {
	@extend .br-100;
	@extend .w-100;

	height: 2.8rem;
	z-index: 0;

	& > svg {
		@extend .absolute;
		@extend .color-white;
		@extend .m-2-r;
		right: 0;
		z-index: -1;
	}

	& > select {
		@extend .text-h4;
		@extend .color-white;
		@extend .p-5-lr;
		@extend .w-100;
		@extend .h-100;
		@extend .cursor-pointer;
		@extend .bg-transparent;
		@extend .outline-none;

		z-index: 1;
		border: none;
	}

	&:hover {
		filter: brightness(1.5);
	}
}

select {
	-webkit-appearance: none;
	appearance: none;

	background: url('../../assets/svg/DropDown.svg') no-repeat right;
}

select:focus {
	-webkit-appearance: none;
	appearance: none;
	background: url('../../assets/svg/DropUp.svg') no-repeat right;
}
