@import '../../styles/index.scss';

.inputBox {
	@extend .flex;
	@extend .align-center;

	@extend .p-5-lr;
	@extend .text-h4;
	@extend .bg-transparent;
	@extend .br-100;
	@extend .w-100;

	@extend .cursor-pointer;

	color: $offWhite;
	height: 2.8rem;
	border: 1px solid $grey300;

	&:hover,
	&:active {
		color: $white;
		filter: brightness(1.5);
	}

	& > div {
		display: flex;
		align-items: center;
		justify-content: center;

		cursor: pointer;
	}

	& > input:hover {
		border: none;
		color: $white;
		filter: brightness(1.5);
	}
}

.dropDown {
	position: absolute;
	max-height: 10rem;
	overflow-y: auto;
	@extend .w-100;
	border-radius: 10px;
	border: 1px solid $grey400;
	&::-webkit-scrollbar {
		display: none;
	}

	.options {
		@extend .flex;
		@extend .align-center;
		@extend .p-5-lr;
		@extend .p-2-b;
		@extend .p-2-t;
		@extend .w-100;
		background: $grey800 !important;
		height: 2.8rem;
		&:hover {
			background: $grey333 !important;
		}
	}
}
