@import './../../styles/index.scss';

.divBox {
	@extend .flex;
	@extend .align-center;
	@extend .justify-between;

	height: 2.4rem;
	border: 1px solid $grey300;

	&:hover {
		color: $white;
		filter: brightness(1.5);
	}

	.selectInput {
		@extend .text-h4;
		@extend .bg-transparent;
		@extend .color-white;
		@extend .br-100;
		@extend .w-100;
		color: $offWhite;
		height: 2.8rem;
		border: none;
		&:hover {
			filter: brightness(1.5);
		}
		&:focus {
			border: none;
		}
		&.active {
			border: none;
		}
	}

	.arrowUp {
		transform: rotate(-180deg);
		transition: 0.3s;
	}
	.arrowDown {
		transition: 0.3s;
	}
}

.closeOptions {
	@extend .fixed;
	@extend .flex;
	@extend .align-center;
	@extend .justify-between;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: transparent;
	z-index: 1;
}

.options {
	background: $grey700 !important;
	height: 2.4rem;
	@extend .justify-center;
	&:hover {
		background: $grey333 !important;
	}
}

.dropDown {
	max-height: 10rem;
	overflow-y: auto;
	border-radius: 10px;
	border: 1px solid $grey400;
	z-index: 2;
	&::-webkit-scrollbar {
		display: none;
	}
}
