@import './../../styles/index.scss';

.divBox {
	@extend .flex;
	@extend .align-center;
	@extend .justify-between;

	height: 2.4rem;
	border: 1px solid #808080;

	&:hover {
		color: #ffffff;
		filter: brightness(1.5);
	}

	.selectInput {
		@extend .text-h4;
		@extend .bg-transparent;
		@extend .color-white;
		@extend .br-100;
		@extend .w-100;
		color: rgba(255, 255, 255, 0.7);
		height: 2.8rem;
		border: none;
		&:hover {
			filter: brightness(1.5);
		}
		&:focus {
			border: none;
		}
	}

	.arrowUp {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
		transition: 0.3s;
	}
	.arrowDown {
		transition: 0.3s;
	}
}

.closeOptions {
	@extend .fixed;
	@extend .flex;
	@extend .align-center;
	@extend .justify-between;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: transparent;
	z-index: 0;
}

.options {
	background: #323232 !important;
	height: 2.4rem;
	@extend .justify-center;
	&:hover {
		background: #333333 !important;
	}
}

.dropDown {
	position: absolute;
	max-height: 10rem;
	overflow-y: auto;
	border-radius: 10px;
	border: 1px solid #666666;
	&::-webkit-scrollbar {
		display: none;
	}
}
