.button {
	box-sizing: border-box;
	@extend .br-100;
	@extend .p-3-tb;
	@extend .p-8-lr;
}

.button-primary {
	@extend .button;
	@extend .bg-teal;
	border: 1px solid #1da0bc;
	&:hover {
		cursor: pointer;
	}
	&:disabled {
		@extend .bg-66;
		border: 1px solid #666666;
		pointer-events: none;
	}
}

.button-secondary {
	@extend .button;
	@extend .bg-transparent;
	border: 1px solid #666666;
	&:hover {
		cursor: pointer;
	}
}

.button-tertiary {
	@extend .button;
	@extend .bg-transparent;
	border: 1px solid transparent;
	&:hover {
		cursor: pointer;
	}
	&:disabled {
		@extend .bg-66;
		border: 1px solid #666666;
		pointer-events: none;
	}
}

.button-alert {
	@extend .button;
	@extend .bg-red;
	border: 1px solid #cf564d;
	&:hover {
		cursor: pointer;
	}
}

.button-warning {
	@extend .button;
	@extend .bg-yellow;
	border: 1px solid #d6963a;
	&:hover {
		cursor: pointer;
	}
}
