@import '../../styles/size.scss';
@import '../../styles/colors.scss';
@import '../../styles/text.scss';

.button {
	-webkit-appearance: none;
	border: none;
	box-sizing: border-box;
	padding: 0.6rem 2rem;
	@extend .br-100;
	@extend .text-h4-bold;
	@extend .color-white;
}

.button-primary {
	-webkit-appearance: none;
	@extend .button;
	@extend .bg-teal400;
	border: 1px solid $teal400;

	&:hover {
		cursor: pointer;
		@extend .bg-teal500;
		border: 1px solid $teal500;
	}

	&:disabled {
		@extend .bg-grey400;
		border: 1px solid $grey400;
		pointer-events: none;
	}
}

.button-white-filled {
	@extend .button;
	@extend .bg-white;
	@extend .color-black;

	border: 1px solid rgba(255, 255, 255, 0.3) !important;

	&:hover {
		cursor: pointer;
		background-color: rgb(181, 181, 181) !important;
		border: 1px solid rgb(181, 181, 181) !important;
	}
	&:disabled {
		@extend .color-white200;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.3);
		box-sizing: border-box;
		border-radius: 32.3333px;
		&:hover {
			background: transparent !important;
			pointer-events: none;
		}
	}
}

.button-facebook {
	@extend .button;
	@extend .color-white;
	cursor: pointer;
	background-color: #4267b2;
	&:hover {
		background-color: #35569a;
	}
}

.button-disable {
	@extend .button;
	@extend .bg-teal400;
	filter: brightness(0.8);
}

.button-secondary {
	box-sizing: border-box;
	@extend .br-100;
	@extend .color-white;
	border: none;
	@extend .bg-transparent;
	@extend .text-h4-bold;
	border: 2px solid rgba(255, 255, 255, 0.5);
	padding: calc(0.6rem - 2px) 2rem;

	&:hover {
		cursor: pointer;
		background-color: $grey500B;
	}

	&:disabled {
		pointer-events: none;
	}
}

.button-tertiary {
	@extend .button;
	@extend .bg-transparent;
	border: 1px solid transparent;

	&:hover {
		cursor: pointer;
	}
}

.button-alert {
	@extend .button;
	@extend .bg-red200;
	border: 1px solid $red200;

	&:hover {
		cursor: pointer;
		@extend .bg-red100;
		border: 1px solid $red100;
	}

	&:disabled {
		@extend .bg-grey400;
		border: 1px solid $grey400;
		pointer-events: none;
	}
}

.button-warning {
	@extend .button;
	@extend .bg-yellow200;

	&:hover {
		cursor: pointer;
		@extend .bg-yellow100;
	}

	&:disabled {
		@extend .bg-grey400;
		border: 1px solid $grey400;
		pointer-events: none;
	}
}

.button-pause {
	@extend .button;
	background-color: #bf4d64;
	max-width: 100%;

	&:hover {
		background-color: #b03e55;
	}
}

.button-save {
	@extend .button;
	background-color: #d7972e;
	max-width: 100%;
	cursor: pointer;
	&:hover {
		background-color: #c8881f;
		max-width: 100%;
	}
}

.button-save-disable {
	@extend .button;
	background-color: #c8881f;
	pointer-events: none;
	filter: brightness(0.8);
	max-width: 100%;
}

@media screen and (max-width: 1440px), screen and (max-height: 940px) {
	.button {
		padding: 0.5rem 1.6rem;
	}
	.button-secondary {
		padding: calc(0.5rem - 2px) 1.6rem;
	}
}
