@import '../../styles/colors.scss';

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	// width: 2.4705882352941178rem;
	height: 26px;
	// height: 1.4705882352941178rem;

	/* The slider */
	.slider {
		@extend .bg-grey300;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: 0.4s;

		cursor: pointer;
	}

	.slider:before {
		@extend .bg-grey100;

		position: absolute;
		content: '';
		height: 18px;
		// width: 1.0588235294117647rem;
		width: 18px;
		// height: 1.0588235294117647rem;
		left: 4px;
		bottom: 4px;
		transition: 0.4s;
	}

	&.active {
		.slider {
			@extend .bg-teal100;
		}

		.slider:before {
			@extend .bg-white;
			transform: translateX(14px);
		}
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 20px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
}
