@import '../../styles/colors.scss';

.switch {
	position: relative;
	display: inline-block;
	width: 2.470588235294118rem;
	height: 1.4705882352941179rem;

	/* The slider */
	.slider {
		@extend .bg-grey300;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: 0.4s;

		cursor: pointer;
	}

	.slider:before {
		@extend .bg-white;

		position: absolute;
		content: '';
		width: 1.1rem;
		height: 1.1rem;
		left: 4px;
		bottom: 3px;

		transition: 0.2s;
	}

	&.active {
		.slider {
			@extend .bg-teal100;
		}

		.slider:before {
			@extend .bg-white;
			transform: translateX(14px);
		}
	}

	&.outlined {
		&.active {
			.slider {
				@extend .bg-teal100;
				border: 1px solid #1da0bc;
			}
			.slider:before {
				@extend .bg-white;
				position: absolute;
				width: 1rem;
				height: 1rem;
			}
		}
		.slider {
			background-color: transparent;
			border: 1px solid #808080;
		}
		.slider:before {
			background-color: #808080;
			position: absolute;
			width: 1rem;
			height: 1rem;
		}
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 20px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
}
