// Colors for the app
.color-teal {
	color: #1da0bc;
}

.color-teal100 {
	color: #147084;
}

.color-teal200 {
	color: #0e505e;
}

.color-grey {
	color: #1b1b1b;
}

.color-grey100 {
	color: #262626;
}

.color-grey200 {
	color: #323232;
}

.color-white {
	color: #ffffff;
}

.color-white100 {
	color: #c1c1c1;
}

.color-white200 {
	color: #808080;
}

.color-grey {
	color: #bbbbbb;
}

.color-off-white {
	color: rgba(255, 255, 255, 0.7);
}

.color-1b {
	color: #1b1b1b;
}

.color-orangeish {
	color: #e7a523;
}

.color-yellow-greenish {
	color: #b4b060;
}

.color-red {
	color: #ec6d62;
}

// Background colors of the app
.bg-transparent {
	background-color: transparent !important;
}

.bg-white {
	background-color: white !important;
}

.bg-teal {
	background-color: #1da0bc !important;
}

.bg-red {
	background-color: #cf564d !important;
}

.bg-yellow {
	background-color: #d6963a !important;
}

.bg-1b {
	background-color: #1b1b1b !important;
}

.bg-26 {
	background-color: #262626 !important;
}

.bg-32 {
	background-color: #323232 !important;
}

.bg-36 {
	background-color: #363636 !important;
}

.bg-38 {
	background-color: #383838 !important;
}

.bg-3b {
	background-color: #3b3b3b !important;
}

.bg-40 {
	background-color: #404040 !important;
}

.bg-43 {
	background-color: #434343 !important;
}

.bg-49 {
	background-color: #494949 !important;
}

.bg-60 {
	background-color: #606060 !important;
}

.bg-66 {
	background-color: #666666 !important;
}

.bg-7d {
	background-color: #7d7d7d !important;
}

.bg-80 {
	background-color: #808080 !important;
}

.bg-r27 {
	background-color: rgba(27, 27, 27, 0.95) !important;
}

.bg-r38 {
	background-color: rgba(38, 38, 38, 0.8) !important;
}

.bg-r64 {
	background-color: rgba(64, 64, 64, 0.8) !important;
}

.bg-r128 {
	background-color: rgba(128, 128, 128, 0.5) !important;
}
