// Colors for the app

// teal
$teal: #33b0cb;
$teal100: #1da0bc;
$teal200: #147084;
$teal300: #0e505e;

// grey
$grey100: #c1c1c1;
$grey200: #bbbbbb;
$grey300: #808080;
$grey400: #666666;
$grey500: #393939;
$grey600: #363636;
$grey700: #323232;
$grey800: #262626;
$grey900: #1b1b1b;
$grey333: #333333;

// white
$white: #ffffff;
$offWhite: rgba(255, 255, 255, 0.7);

$yellow100: #e7a523;
$yellow200: #d6963a;

$dirtyGreen: #b4b060;

$red100: #ec6d62;
$red200: #cf564d;

.color-white {
	color: $white;
}

// backgrounds

.bg-transparent {
	background-color: transparent;
}

.bg-white {
	background-color: $white;
}

.bg-teal {
	background-color: $teal;
}

.bg-teal100 {
	background-color: $teal100;
}

.bg-teal200 {
	background-color: $teal300;
}

.bg-teal300 {
	background-color: $teal300;
}

.bg-grey100 {
	background-color: $grey100;
}

.bg-grey200 {
	background-color: $grey200;
}

.bg-grey300 {
	background-color: $grey300;
}

.bg-grey400 {
	background-color: $grey400;
}

.bg-grey500 {
	background-color: $grey500;
}

.bg-grey600 {
	background-color: $grey600;
}

.bg-grey700 {
	background-color: $grey700;
}

.bg-grey800 {
	background-color: $grey800;
}

.bg-grey900 {
	background-color: $grey900;
}

.bg-red100 {
	background-color: $red100;
}

.bg-red200 {
	background-color: $red200;
}

.bg-yellow100 {
	background-color: $yellow100;
}

.bg-yellow200 {
	background-color: $yellow200;
}
