.subline {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	transform-origin: left;
	transition: transform 1.5s ease;
}

.subline.secondary {
	background: linear-gradient(
		270deg,
		#7e68b0 -3.96%,
		#008ad2 20.51%,
		#21b24b 42.89%,
		#ffc40e 64.99%,
		#f6821f 87.25%,
		#ef4023 109.23%,
		#7e68b0 128.71%
	);
}

.inc {
	animation: inc-transform 2.5s 0.5s infinite ease-in-out both;
}

.dec {
	animation: dec-transform 2.5s 0.5s infinite ease-in-out both;
}

@keyframes inc-transform {
	0% {
		transform: translateX(-100%) scaleX(0.05);
	}

	100% {
		transform: translateX(130%) scaleX(1);
	}
}

@keyframes dec-transform {
	0% {
		transform: translateX(-100%) scaleX(0.8);
	}

	100% {
		transform: translateX(1100%) scaleX(0.1);
	}
}
