.asCheck:hover {
	filter: brightness(1.5);
}

.as-unchecked {
	border-radius: 5px;
	border: 1px solid #808080;
	opacity: 0.5;
}

.as-checked {
	@extend .as-unchecked;
	opacity: 1;
	border: 1px solid #ffffff;
}