@import './../../styles/index.scss';

.root {
	border: 1px solid #ffffff;
	background-color: transparent;
	padding: 0.4rem 0.8rem;
	border-radius: 5px;
	white-space: nowrap;
	height: fit-content;
	width: fit-content;
}

.disabled-true {
	opacity:  0.5;
	cursor: default;
}

.disabled-false {
	opacity:  1;
	cursor: pointer;
}

.selected-true {
	filter: brightness(1)
}

.selected-false {
	filter: brightness(0.5)
}

.prefer-primary {
	@extend .root;
	background: #1da0bc;
	border: 1px solid #1da0bc;

	&:hover {
		background: #0d7c95;
		border: 1px solid #0d7c95;
	}
}

.prefer-secondary {
	@extend .root;
	@extend .bg-transparent;
	border: 1px solid white;  // 1px solid $grey300

	&:hover {
		background: #00000040;
	}
}
