.toggler {
	border: 2px solid #666666;
	border-radius: 100px;
	margin: 1% 0%;
	padding: 0.2%;
	position: relative;

	.selected-toggle {
		background: #1da0bc;
	}

	.unselected-toggle {
	}

	.buttonStyle-toggle {
		border-radius: 100px;
		border: none;
		line-height: 19px;
		width: 50%;
		padding: 5% 0;
		transition: 0.2s ease-in;
	}

	.yearly {
		@extend .buttonStyle-toggle;
		@extend .unselected-toggle;
	}
	
	.monthly {
		@extend .buttonStyle-toggle;
		@extend .unselected-toggle;
	}

	.toggle_button {
		position: absolute;
		@extend .buttonStyle-toggle;
		@extend .selected-toggle;
		z-index: 1;
	}

	.toggleButton {
		transform: translateX(99.3%);
		@extend .selected-toggle;
	}
}
