.slider-input {
	-webkit-appearance: none;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		@apply h-2 w-2 rounded-[50%] bg-gray-400 cursor-pointer;
		transition: background 0.2s ease-in-out;

		&:hover {
			box-shadow: inherit;
			background: #e2e2e2;
		}
	}
}
