.slider-container{
    // background-color: green;
    position: relative;
}
.slider-track{
    position: absolute;
    bottom: 3.8px;
    // top: 0;
    // left: 10;
    max-width: 100%;
    // z-index: 5;
    height: 5px;
    background-color: red;
}
.slider-thumb{
    height: 5px;
    width: 100%;

    &::-webkit-slider-thumb{
        background: rgb(0, 0, 0);
        width: 100px;
        z-index: 10;
    }
}
